<section id="certificates" class="py-20 bg-gray-50">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-12 flex items-center justify-center gap-2">
            <app-certificate-icon></app-certificate-icon>Certificates
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">

            @for(certificate of certificates; track certificate) {
                <app-certificate-item
                    [certificateTitle]="certificate.title"
                    [certificateImageUrl]="certificate.imageUrl"
                ></app-certificate-item>
            }
        </div>
    </div>
</section>