<div class="bg-white">
    <nav
        class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 bg-transparent"
        [ngClass]="{ 'bg-transparent': !isScrolled, 'bg-white/90 backdrop-blur-md shadow-sm': isScrolled }"
    >
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
        <h1 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-purple-600">
          Portfolio</h1>
        <div class="hidden md:flex gap-6">
            @for(section of sections; track $index) {
              <app-navbar-item
                [itemName]="section"
                [isActive]="activeSection === section"
                [sectionId]="section"
                (itemClicked)="closeMenu()"
              ></app-navbar-item>
            }
        </div>


        <button *ngIf="!isMenuOpen"
          (click)="toggleMenu()"
          class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 w-10 md:hidden"
          type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-:r0:" state="closed">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-menu h-5 w-5">
            <line x1="4" x2="20" y1="12" y2="12"></line>
            <line x1="4" x2="20" y1="6" y2="6"></line>
            <line x1="4" x2="20" y1="18" y2="18"></line>
          </svg>
        </button>

    <div role="dialog" data-state="open" *ngIf="isMenuOpen"
            class="fixed z-50 gap-4 bg-background p-6 shadow-lg transition ease-in-out h-fit
                    data-[state=open]:animate-in 
                    data-[state=closed]:animate-out 
                    data-[state=closed]:duration-300 
                    data-[state=open]:duration-500 inset-y-0 right-0 h-full border-l 
                    data-[state=closed]:slide-out-to-right 
                    data-[state=open]:slide-in-from-right sm:max-w-sm w-[80%]
                    md:hidden bg-white shadow-md"
            tabindex="-1"
            style="pointer-events: auto;"
            id="radix-:r0:" 
            aria-describedby="radix-:r2:"
            aria-labelledby="radix-:r1:"
        >
        <div class="flex flex-col gap-4 mt-4">
            @for(section of sections; track $index) {
            <button (click)="scrollToSection(section)" class="px-2 py-1.5 text-left rounded-lg transition-colors hover:bg-gray-100">
                <span class="capitalize">
                {{ section }}
                </span>
            </button>
            }
        </div>
      
        <button type="button" class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none 
        [state=open]:bg-secondary" (click)="toggleMenu()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x h-4 w-4" >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
            </svg>
            <span class="sr-only">Close</span>
        </button>
    </div>

      </div>
      </div>
    </nav>
</div>