<section id="activities" class="py-20">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-12 flex items-center justify-center gap-2">
            <app-activity-icon></app-activity-icon>Activities
        </h2>
        <div class="grid md:grid-cols-2 gap-6">
            @for(activity of activities; track activity) {
                <app-activity-item
                    [activityTitle]="activity.title"
                    [activityDate]="activity.date"
                    [activityType]="activity.type"
                    [activityOrganizer]="activity.organizer"
                    [activitySummary]="activity.summary"
                ></app-activity-item>
            }
        </div>
    </div>
</section>